.wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: -2;

	&.open {
		background-color: rgba(0, 0, 0, 0.418);
		z-index: 19;
	}
}

.categories {
	cursor: pointer;
	position: fixed;
	top: 70px;
	z-index: 20;
	width: 210px;
	margin: 0 auto;
	box-shadow: 0 5px 20px black;
	transform: translateX(-95%);
	transition: all 0.3s linear;
	background-color: rgb(54, 53, 53);
	padding: 20px;
	height: 80vh;

	.title {
		position: absolute;
		top: 0;
		right: -50%;
		transition: inherit;
		padding: 2px;
		background-color: #917070;
		font-size: 20px;
	}

	&.open {
		transform: translateX(0%);
	}

	&.open .title {
		right: 0%;
	}


	.links {
		display: flex;
		flex-direction: column;
		gap: 4px;
		color: inherit;
		overflow-y: scroll;
		height: 100%;

		&::-webkit-scrollbar {
			width: 10px;
			background-color: inherit;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #361a1a;
		}

		.link {
			text-decoration: none;
			font-size: 18px;
			color: inherit;

			&:hover {
				color: red;
			}
		}
	}

	.icon {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 0;
		top: 50%;
		transition: all 0.8s linear;
		transform: rotate(180deg);
	}

	&.open .icon {
		transform: rotate(0deg);
	}

	.arrow {
		height: 100%;
		width: 100%;
	}

}