* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto';
	overflow-x: hidden;
}

._ibg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#select-filter-label {
	color: white;
	top: -25px;
	font-size: 20px;
}

#demo-simple-select {
	/* background-color: red; */
	color: white;
	border: 1px solid white;
}

#select-filter-label-countries {
	color: white;
	top: -10px;
}

#radio-filter-label {
	color: white;
}

#pagination-films {


	button {
		color: white;
		border: 1px solid white;
	}

	ul {
		gap: 10px;
	}

}