.swiperSlide {
	height: 100%;
	position: relative;
	border: 2px solid red;

	// .swiperImg {
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	object-fit: fill;
	// }
}

.next {
	background-color: green;
}

.prev {
	background-color: rgb(255, 136, 0);
}

.swiper {
	width: 90%;
	height: 250px;
	padding: 20px 20px 40px 20px;

}

.title {
	font-size: 24px;
	text-align: center;
}

.btns {
	margin-top: 10px;
}