.swiperSlide {
	height: 100%;
	position: relative;
	border: 5px solid rgb(31, 14, 14);

	.image {
		cursor: pointer;
	}
}

.next {
	background-color: green;
}

.prev {
	background-color: rgb(255, 136, 0);
}

.swiper {
	width: 100%;
	height: 250px;
	padding: 20px 20px 40px 20px;
}

.title {
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}

.btns {
	margin-top: 10px;
}